:root {
    --textColor: white;
    --tintColor: rgba(125, 125, 125, 0.4);
    --borderColor: rgb(68, 68, 255, 0.7) solid;
    --borderImgColor: rgb(20, 193, 49) solid;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url("Forest1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

article {
    font-size: 2vw;
    color: var(--textColor);
    margin-left: 12vw;
    margin-top: 8vw;
    max-width: 50ch;
    padding: 1.5rem;
    line-height: 1.7;
    border: 0.25rem var(--borderColor);
    background: var(--tintColor);

}

h1 {
    text-align: center;
    color: var(--textColor);
    font-size: 4vw;
}

header+main {
    margin-top: 5rem;
}

.modShowcase {
    max-width: 60ch;
}

.modShowcase div {
    border: 0.25rem var(--borderImgColor);
    padding: 0;
    width: fit-content;
}

.modShowcase img {
    display: block;
    max-width: 100%;
    height: auto;
}

.modShowcase h2 {
    font-size: 3vw;
    line-height: 1;
}

.modShowcase h3 {
    font-size: 2.5vw;
}

.modShowcase ol li {
    font-size: 3vw;
    letter-spacing: 1px;
}

.modShowcase ul li {
    font-size: 1.7vw;
}

.modShowcase p {
    font-size: 1.85vw;
}

.topBar {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    background-color: #32a852;
    font-size: 2.2vw;
    font-weight: bold;

}

.disclaimer {
    font-weight: bold;
    text-decoration: underline;
}